.nav {
  background: $black;
  color: $white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon {
  display: grid;
  grid-column: 1/-1;
  grid-row: 1/-1;
  align-content: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  font-size: 1.2rem;
  margin-left: 10px;
}

.icon-active {
  font-size: 2rem;
  width: 40px;
  height: 40px;
  background-color: $white;
  color: $black;
  border-radius: 50%;
}
