.login,
.signup {
  max-width: 500px;
  text-align: center;
  input {
    width: 70%;
    padding: 0.3rem 0.5rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;
  }
  button {
    margin-bottom: 1.5rem;
    padding: 0.75rem 2rem;
    width: 70%;
    font-size: 1.4rem;
    border-radius: 3px;
  }
}
