// @import "partials/colors";
@import "partials/desktopColors";
@import "partials/resets";
@import "partials/dance";
@import "partials/comp";
@import "partials/footer";
@import "partials/forms";
@import "partials/nav";
@import "partials/studioCatalog";

html {
  height: 100%; // to keep footer pushed down
}

button {
  font-size: 1.2rem;
  padding: 1rem 1rem;
  border-radius: 5px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

body {
  font-size: 20px;
  color: $primaryText;
  background: $bodyBackground;
  font-weight: 300px;
  //keep footer pushed down to bottom but not sticky//
  position: relative;
  min-height: 100%;
}

//wrap everything below nav for the anchored footer
.content {
  padding-top: 2rem;
  padding-bottom: 80px;
  background-color: $bodyBackground;
  // text-align: center; //height of footer
  // display: grid;
  // grid-template-columns: 1fr;
  // grid-template-rows: 1fr;
  // justify-items: center;
  // grid-gap: 20px;
}

.container {
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.container-single {
  margin: auto;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  justify-items: center;
  min-width: 300px;
  max-width: 600px;
  // border: 1px solid $primaryText;
  padding: 1rem 0;
  .dance-value {
    padding-right: 5px;
  }
}
